#### Pandas: It provides two primary data structures: Series and DataFrame. A Series is a one-dimensional array-like object, while a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns).

In [5]:
import pandas as pd

In [2]:
##Series
data=[10,20,30,40,50]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
## Dataframe
## create a Dataframe from a dictionary oof list

data={
    'Names':['John', 'Nick', 'Ron', 'Doe'],
    'Age':[23,34,45,56],
    'City':['New York', 'Los Angeles', 'Chicago', 'Houston']
}

In [8]:
df = pd.DataFrame(data)
print(df)
print(type(df))

  Names  Age         City
0  John   23     New York
1  Nick   34  Los Angeles
2   Ron   45      Chicago
3   Doe   56      Houston
<class 'pandas.core.frame.DataFrame'>

In [11]:
## Create a Data frame From a List of Dictionaries
data = [
    {'Name': 'John', 'Age': 23, 'City': 'New York'},
    {'Name': 'Nick', 'Age': 34, 'City': 'Los Angeles'},
    {'Name': 'Ron', 'Age': 45, 'City': 'Chicago'},
    {'Name': 'Doe', 'Age': 56, 'City': 'Houston'}
]
df = pd.DataFrame(data)
print(df)
print(type(df))

   Name  Age         City
0  John   23     New York
1  Nick   34  Los Angeles
2   Ron   45      Chicago
3   Doe   56      Houston
<class 'pandas.core.frame.DataFrame'>

In [17]:
df = pd.read_csv('sales_data.csv')
print(df.head(5))

   Transaction ID        Date Product Category             Product Name  \
0           10001  2024-01-01      Electronics            iPhone 14 Pro
1           10002  2024-01-02  Home Appliances         Dyson V11 Vacuum
2           10003  2024-01-03         Clothing         Levi's 501 Jeans
3           10004  2024-01-04            Books        The Da Vinci Code
4           10005  2024-01-05  Beauty Products  Neutrogena Skincare Set

   Units Sold  Unit Price  Total Revenue         Region Payment Method
0           2      999.99        1999.98  North America    Credit Card
1           1      499.99         499.99         Europe         PayPal
2           3       69.99         209.97           Asia     Debit Card
3           4       15.99          63.96  North America    Credit Card
4           1       89.99          89.99         Europe         PayPal

In [18]:
df.tail(5)

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
235,10236,2024-08-23,Home Appliances,Nespresso Vertuo Next Coffee and Espresso Maker,1,159.99,159.99,Europe,PayPal
236,10237,2024-08-24,Clothing,Nike Air Force 1 Sneakers,3,90.00,270.00,Asia,Debit Card
237,10238,2024-08-25,Books,The Handmaid's Tale by Margaret Atwood,3,10.99,32.97,North America,Credit Card
238,10239,2024-08-26,Beauty Products,Sunday Riley Luna Sleeping Night Oil,1,55.00,55.00,Europe,PayPal
239,10240,2024-08-27,Sports,Yeti Rambler 20 oz Tumbler,2,29.99,59.98,Asia,Credit Card

In [19]:
data={
    'Names':['John', 'Nick', 'Ron', 'Doe'],
    'Age':[23,34,45,56],
    'City':['New York', 'Los Angeles', 'Chicago', 'Houston']
}

In [21]:
df_data = pd.DataFrame(data)

df_data["Names"]

0    John
1    Nick
2     Ron
3     Doe
Name: Names, dtype: object

In [22]:
df_data.loc[1]

Names           Nick
Age               34
City     Los Angeles
Name: 1, dtype: object

In [23]:
df_data.iloc[1]

Names           Nick
Age               34
City     Los Angeles
Name: 1, dtype: object

In [24]:
df_data[['Names','City']]

  Names         City
0  John     New York
1  Nick  Los Angeles
2   Ron      Chicago
3   Doe      Houston

In [27]:
df_data.loc[3]

Names        Doe
Age           56
City     Houston
Name: 3, dtype: object

In [28]:
df_data.loc[2, 'City']

'Chicago'

In [30]:
df_data.iloc[2,2]

'Chicago'

In [32]:
print(df_data.at[2, 'Age'])

45

In [33]:
df_data.iat[1,2]

'Los Angeles'

In [39]:
df_data['salary'] = [50000, 60000, 70000, 80000 ]
df_data

  Names  Age         City  salary
0  John   23     New York   50000
1  Nick   39  Los Angeles   60000
2   Ron   50      Chicago   70000
3   Doe   61      Houston   80000

In [40]:
# update Age only for rows where Age > 30
mask = df_data['Age'] > 30
df_data.loc[mask, 'Age'] = df_data.loc[mask, 'Age'] + 5
df_data

  Names  Age         City  salary
0  John   23     New York   50000
1  Nick   44  Los Angeles   60000
2   Ron   55      Chicago   70000
3   Doe   66      Houston   80000

In [41]:
df_data.drop('salary', axis=1, inplace=True)
df_data

  Names  Age         City
0  John   23     New York
1  Nick   44  Los Angeles
2   Ron   55      Chicago
3   Doe   66      Houston

In [42]:
df_data.drop(2, axis=0, inplace=True)
df_data

  Names  Age         City
0  John   23     New York
1  Nick   44  Los Angeles
3   Doe   66      Houston

In [44]:
df_data.describe()

             Age
count   3.000000
mean   44.333333
std    21.501938
min    23.000000
25%    33.500000
50%    44.000000
75%    55.000000
max    66.000000

#### Data Manipulation

In [78]:
import pandas as pd

In [79]:
df = pd.read_csv('data.csv')
df

          Date Category  Value   Product  Sales Region
0   2023-01-01        A   28.0  Product1  754.0   East
1   2023-01-02        B   39.0  Product3  110.0  North
2   2023-01-03        C   32.0  Product2  398.0   East
3   2023-01-04        B    8.0  Product1  522.0   East
4   2023-01-05        B   26.0  Product3  869.0  North
5   2023-01-06        B   54.0  Product3  192.0   West
6   2023-01-07        A   16.0  Product1  936.0   East
7   2023-01-08        C   89.0  Product1  488.0   West
8   2023-01-09        C   37.0  Product3  772.0   West
9   2023-01-10        A   22.0  Product2  834.0   West
10  2023-01-11        B    7.0  Product1  842.0  North
11  2023-01-12        B   60.0  Product2    NaN   West
12  2023-01-13        A   70.0  Product3  628.0  South
13  2023-01-14        A   69.0  Product1  423.0   East
14  2023-01-15        A   47.0  Product2  893.0   West
15  2023-01-16        C    NaN  Product1  895.0  North
16  2023-01-17        C   93.0  Product2  511.0  South
17  2023-01-18        C    NaN  Product1  108.0   West
18  2023-01-19        A   31.0  Product2  578.0   West
19  2023-01-20        A   59.0  Product1  736.0   East
20  2023-01-21        C   82.0  Product3  606.0  South
21  2023-01-22        C   37.0  Product2  992.0  South
22  2023-01-23        B   62.0  Product3  942.0  North
23  2023-01-24        C   92.0  Product2  342.0   West
24  2023-01-25        A   24.0  Product2  458.0   East
25  2023-01-26        C   95.0  Product1  584.0   West
26  2023-01-27        C   71.0  Product2  619.0  North
27  2023-01-28        C   56.0  Product2  224.0  North
28  2023-01-29        B    NaN  Product3  617.0  North
29  2023-01-30        C   51.0  Product2  737.0  South
30  2023-01-31        B   50.0  Product3  735.0   West
31  2023-02-01        A   17.0  Product2  189.0   West
32  2023-02-02        B   63.0  Product3  338.0  South
33  2023-02-03        C   27.0  Product3    NaN   East
34  2023-02-04        C   70.0  Product3  669.0   West
35  2023-02-05        B   60.0  Product2    NaN   West
36  2023-02-06        C   36.0  Product3  177.0   East
37  2023-02-07        C    2.0  Product1    NaN  North
38  2023-02-08        C   94.0  Product1  408.0  South
39  2023-02-09        A   62.0  Product1  155.0   West
40  2023-02-10        B   15.0  Product1  578.0   East
41  2023-02-11        C   97.0  Product1  256.0   East
42  2023-02-12        A   93.0  Product3  164.0   West
43  2023-02-13        A   43.0  Product3  949.0   East
44  2023-02-14        A   96.0  Product3  830.0   East
45  2023-02-15        B   99.0  Product2  599.0   West
46  2023-02-16        B    6.0  Product1  938.0  South
47  2023-02-17        B   69.0  Product3  143.0   West
48  2023-02-18        C   65.0  Product3  182.0  North
49  2023-02-19        C   11.0  Product3  708.0  North

In [4]:
df.head()

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   28.0  Product1  754.0   East
1  2023-01-02        B   39.0  Product3  110.0  North
2  2023-01-03        C   32.0  Product2  398.0   East
3  2023-01-04        B    8.0  Product1  522.0   East
4  2023-01-05        B   26.0  Product3  869.0  North

In [5]:
df.describe()

           Value       Sales
count  47.000000   46.000000
mean   51.744681  557.130435
std    29.050532  274.598584
min     2.000000  108.000000
25%    27.500000  339.000000
50%    54.000000  591.500000
75%    70.000000  767.500000
max    99.000000  992.000000

In [6]:
df.dtypes

Date         object
Category     object
Value       float64
Product      object
Sales       float64
Region       object
dtype: object

In [80]:
df.isnull()

     Date  Category  Value  Product  Sales  Region
0   False     False  False    False  False   False
1   False     False  False    False  False   False
2   False     False  False    False  False   False
3   False     False  False    False  False   False
4   False     False  False    False  False   False
5   False     False  False    False  False   False
6   False     False  False    False  False   False
7   False     False  False    False  False   False
8   False     False  False    False  False   False
9   False     False  False    False  False   False
10  False     False  False    False  False   False
11  False     False  False    False   True   False
12  False     False  False    False  False   False
13  False     False  False    False  False   False
14  False     False  False    False  False   False
15  False     False   True    False  False   False
16  False     False  False    False  False   False
17  False     False   True    False  False   False
18  False     False  False    False  False   False
19  False     False  False    False  False   False
20  False     False  False    False  False   False
21  False     False  False    False  False   False
22  False     False  False    False  False   False
23  False     False  False    False  False   False
24  False     False  False    False  False   False
25  False     False  False    False  False   False
26  False     False  False    False  False   False
27  False     False  False    False  False   False
28  False     False   True    False  False   False
29  False     False  False    False  False   False
30  False     False  False    False  False   False
31  False     False  False    False  False   False
32  False     False  False    False  False   False
33  False     False  False    False   True   False
34  False     False  False    False  False   False
35  False     False  False    False   True   False
36  False     False  False    False  False   False
37  False     False  False    False   True   False
38  False     False  False    False  False   False
39  False     False  False    False  False   False
40  False     False  False    False  False   False
41  False     False  False    False  False   False
42  False     False  False    False  False   False
43  False     False  False    False  False   False
44  False     False  False    False  False   False
45  False     False  False    False  False   False
46  False     False  False    False  False   False
47  False     False  False    False  False   False
48  False     False  False    False  False   False
49  False     False  False    False  False   False

In [81]:
df.isna()

     Date  Category  Value  Product  Sales  Region
0   False     False  False    False  False   False
1   False     False  False    False  False   False
2   False     False  False    False  False   False
3   False     False  False    False  False   False
4   False     False  False    False  False   False
5   False     False  False    False  False   False
6   False     False  False    False  False   False
7   False     False  False    False  False   False
8   False     False  False    False  False   False
9   False     False  False    False  False   False
10  False     False  False    False  False   False
11  False     False  False    False   True   False
12  False     False  False    False  False   False
13  False     False  False    False  False   False
14  False     False  False    False  False   False
15  False     False   True    False  False   False
16  False     False  False    False  False   False
17  False     False   True    False  False   False
18  False     False  False    False  False   False
19  False     False  False    False  False   False
20  False     False  False    False  False   False
21  False     False  False    False  False   False
22  False     False  False    False  False   False
23  False     False  False    False  False   False
24  False     False  False    False  False   False
25  False     False  False    False  False   False
26  False     False  False    False  False   False
27  False     False  False    False  False   False
28  False     False   True    False  False   False
29  False     False  False    False  False   False
30  False     False  False    False  False   False
31  False     False  False    False  False   False
32  False     False  False    False  False   False
33  False     False  False    False   True   False
34  False     False  False    False  False   False
35  False     False  False    False   True   False
36  False     False  False    False  False   False
37  False     False  False    False   True   False
38  False     False  False    False  False   False
39  False     False  False    False  False   False
40  False     False  False    False  False   False
41  False     False  False    False  False   False
42  False     False  False    False  False   False
43  False     False  False    False  False   False
44  False     False  False    False  False   False
45  False     False  False    False  False   False
46  False     False  False    False  False   False
47  False     False  False    False  False   False
48  False     False  False    False  False   False
49  False     False  False    False  False   False

In [91]:
newdf = df.isnull().where(df.isnull() == True).dropna(how='all')
newdf

   Date Category Value Product Sales Region Sales_FillNa
11  NaN      NaN   NaN     NaN  True    NaN          NaN
15  NaN      NaN  True     NaN   NaN    NaN          NaN
17  NaN      NaN  True     NaN   NaN    NaN          NaN
28  NaN      NaN  True     NaN   NaN    NaN          NaN
33  NaN      NaN   NaN     NaN  True    NaN          NaN
35  NaN      NaN   NaN     NaN  True    NaN          NaN
37  NaN      NaN   NaN     NaN  True    NaN          NaN

In [76]:
df.isnull().any()

A    False
B    False
C    False
dtype: bool

In [83]:
df.isnull().sum()

Date        0
Category    0
Value       3
Product     0
Sales       4
Region      0
dtype: int64

In [87]:
df_filled = df.fillna(0)
df_filled

          Date Category  Value   Product  Sales Region
0   2023-01-01        A   28.0  Product1  754.0   East
1   2023-01-02        B   39.0  Product3  110.0  North
2   2023-01-03        C   32.0  Product2  398.0   East
3   2023-01-04        B    8.0  Product1  522.0   East
4   2023-01-05        B   26.0  Product3  869.0  North
5   2023-01-06        B   54.0  Product3  192.0   West
6   2023-01-07        A   16.0  Product1  936.0   East
7   2023-01-08        C   89.0  Product1  488.0   West
8   2023-01-09        C   37.0  Product3  772.0   West
9   2023-01-10        A   22.0  Product2  834.0   West
10  2023-01-11        B    7.0  Product1  842.0  North
11  2023-01-12        B   60.0  Product2    0.0   West
12  2023-01-13        A   70.0  Product3  628.0  South
13  2023-01-14        A   69.0  Product1  423.0   East
14  2023-01-15        A   47.0  Product2  893.0   West
15  2023-01-16        C    0.0  Product1  895.0  North
16  2023-01-17        C   93.0  Product2  511.0  South
17  2023-01-18        C    0.0  Product1  108.0   West
18  2023-01-19        A   31.0  Product2  578.0   West
19  2023-01-20        A   59.0  Product1  736.0   East
20  2023-01-21        C   82.0  Product3  606.0  South
21  2023-01-22        C   37.0  Product2  992.0  South
22  2023-01-23        B   62.0  Product3  942.0  North
23  2023-01-24        C   92.0  Product2  342.0   West
24  2023-01-25        A   24.0  Product2  458.0   East
25  2023-01-26        C   95.0  Product1  584.0   West
26  2023-01-27        C   71.0  Product2  619.0  North
27  2023-01-28        C   56.0  Product2  224.0  North
28  2023-01-29        B    0.0  Product3  617.0  North
29  2023-01-30        C   51.0  Product2  737.0  South
30  2023-01-31        B   50.0  Product3  735.0   West
31  2023-02-01        A   17.0  Product2  189.0   West
32  2023-02-02        B   63.0  Product3  338.0  South
33  2023-02-03        C   27.0  Product3    0.0   East
34  2023-02-04        C   70.0  Product3  669.0   West
35  2023-02-05        B   60.0  Product2    0.0   West
36  2023-02-06        C   36.0  Product3  177.0   East
37  2023-02-07        C    2.0  Product1    0.0  North
38  2023-02-08        C   94.0  Product1  408.0  South
39  2023-02-09        A   62.0  Product1  155.0   West
40  2023-02-10        B   15.0  Product1  578.0   East
41  2023-02-11        C   97.0  Product1  256.0   East
42  2023-02-12        A   93.0  Product3  164.0   West
43  2023-02-13        A   43.0  Product3  949.0   East
44  2023-02-14        A   96.0  Product3  830.0   East
45  2023-02-15        B   99.0  Product2  599.0   West
46  2023-02-16        B    6.0  Product1  938.0  South
47  2023-02-17        B   69.0  Product3  143.0   West
48  2023-02-18        C   65.0  Product3  182.0  North
49  2023-02-19        C   11.0  Product3  708.0  North

In [82]:
new_df = df['Sales'].fillna(df['Sales'].mean())
new_df

0     754.000000
1     110.000000
2     398.000000
3     522.000000
4     869.000000
5     192.000000
6     936.000000
7     488.000000
8     772.000000
9     834.000000
10    842.000000
11    557.130435
12    628.000000
13    423.000000
14    893.000000
15    895.000000
16    511.000000
17    108.000000
18    578.000000
19    736.000000
20    606.000000
21    992.000000
22    942.000000
23    342.000000
24    458.000000
25    584.000000
26    619.000000
27    224.000000
28    617.000000
29    737.000000
30    735.000000
31    189.000000
32    338.000000
33    557.130435
34    669.000000
35    557.130435
36    177.000000
37    557.130435
38    408.000000
39    155.000000
40    578.000000
41    256.000000
42    164.000000
43    949.000000
44    830.000000
45    599.000000
46    938.000000
47    143.000000
48    182.000000
49    708.000000
Name: Sales, dtype: float64

In [89]:
df['Sales_FillNa'] = df['Sales'].fillna(df['Sales'].mean())
df

          Date Category  Value   Product  Sales Region  Sales_FillNa
0   2023-01-01        A   28.0  Product1  754.0   East    754.000000
1   2023-01-02        B   39.0  Product3  110.0  North    110.000000
2   2023-01-03        C   32.0  Product2  398.0   East    398.000000
3   2023-01-04        B    8.0  Product1  522.0   East    522.000000
4   2023-01-05        B   26.0  Product3  869.0  North    869.000000
5   2023-01-06        B   54.0  Product3  192.0   West    192.000000
6   2023-01-07        A   16.0  Product1  936.0   East    936.000000
7   2023-01-08        C   89.0  Product1  488.0   West    488.000000
8   2023-01-09        C   37.0  Product3  772.0   West    772.000000
9   2023-01-10        A   22.0  Product2  834.0   West    834.000000
10  2023-01-11        B    7.0  Product1  842.0  North    842.000000
11  2023-01-12        B   60.0  Product2    NaN   West    557.130435
12  2023-01-13        A   70.0  Product3  628.0  South    628.000000
13  2023-01-14        A   69.0  Product1  423.0   East    423.000000
14  2023-01-15        A   47.0  Product2  893.0   West    893.000000
15  2023-01-16        C    NaN  Product1  895.0  North    895.000000
16  2023-01-17        C   93.0  Product2  511.0  South    511.000000
17  2023-01-18        C    NaN  Product1  108.0   West    108.000000
18  2023-01-19        A   31.0  Product2  578.0   West    578.000000
19  2023-01-20        A   59.0  Product1  736.0   East    736.000000
20  2023-01-21        C   82.0  Product3  606.0  South    606.000000
21  2023-01-22        C   37.0  Product2  992.0  South    992.000000
22  2023-01-23        B   62.0  Product3  942.0  North    942.000000
23  2023-01-24        C   92.0  Product2  342.0   West    342.000000
24  2023-01-25        A   24.0  Product2  458.0   East    458.000000
25  2023-01-26        C   95.0  Product1  584.0   West    584.000000
26  2023-01-27        C   71.0  Product2  619.0  North    619.000000
27  2023-01-28        C   56.0  Product2  224.0  North    224.000000
28  2023-01-29        B    NaN  Product3  617.0  North    617.000000
29  2023-01-30        C   51.0  Product2  737.0  South    737.000000
30  2023-01-31        B   50.0  Product3  735.0   West    735.000000
31  2023-02-01        A   17.0  Product2  189.0   West    189.000000
32  2023-02-02        B   63.0  Product3  338.0  South    338.000000
33  2023-02-03        C   27.0  Product3    NaN   East    557.130435
34  2023-02-04        C   70.0  Product3  669.0   West    669.000000
35  2023-02-05        B   60.0  Product2    NaN   West    557.130435
36  2023-02-06        C   36.0  Product3  177.0   East    177.000000
37  2023-02-07        C    2.0  Product1    NaN  North    557.130435
38  2023-02-08        C   94.0  Product1  408.0  South    408.000000
39  2023-02-09        A   62.0  Product1  155.0   West    155.000000
40  2023-02-10        B   15.0  Product1  578.0   East    578.000000
41  2023-02-11        C   97.0  Product1  256.0   East    256.000000
42  2023-02-12        A   93.0  Product3  164.0   West    164.000000
43  2023-02-13        A   43.0  Product3  949.0   East    949.000000
44  2023-02-14        A   96.0  Product3  830.0   East    830.000000
45  2023-02-15        B   99.0  Product2  599.0   West    599.000000
46  2023-02-16        B    6.0  Product1  938.0  South    938.000000
47  2023-02-17        B   69.0  Product3  143.0   West    143.000000
48  2023-02-18        C   65.0  Product3  182.0  North    182.000000
49  2023-02-19        C   11.0  Product3  708.0  North    708.000000

In [93]:
df_rename = df.rename(columns={'Date' : 'Sales Date'})
df_rename

    Sales Date Category  Value   Product  Sales Region  Sales_FillNa
0   2023-01-01        A   28.0  Product1  754.0   East    754.000000
1   2023-01-02        B   39.0  Product3  110.0  North    110.000000
2   2023-01-03        C   32.0  Product2  398.0   East    398.000000
3   2023-01-04        B    8.0  Product1  522.0   East    522.000000
4   2023-01-05        B   26.0  Product3  869.0  North    869.000000
5   2023-01-06        B   54.0  Product3  192.0   West    192.000000
6   2023-01-07        A   16.0  Product1  936.0   East    936.000000
7   2023-01-08        C   89.0  Product1  488.0   West    488.000000
8   2023-01-09        C   37.0  Product3  772.0   West    772.000000
9   2023-01-10        A   22.0  Product2  834.0   West    834.000000
10  2023-01-11        B    7.0  Product1  842.0  North    842.000000
11  2023-01-12        B   60.0  Product2    NaN   West    557.130435
12  2023-01-13        A   70.0  Product3  628.0  South    628.000000
13  2023-01-14        A   69.0  Product1  423.0   East    423.000000
14  2023-01-15        A   47.0  Product2  893.0   West    893.000000
15  2023-01-16        C    NaN  Product1  895.0  North    895.000000
16  2023-01-17        C   93.0  Product2  511.0  South    511.000000
17  2023-01-18        C    NaN  Product1  108.0   West    108.000000
18  2023-01-19        A   31.0  Product2  578.0   West    578.000000
19  2023-01-20        A   59.0  Product1  736.0   East    736.000000
20  2023-01-21        C   82.0  Product3  606.0  South    606.000000
21  2023-01-22        C   37.0  Product2  992.0  South    992.000000
22  2023-01-23        B   62.0  Product3  942.0  North    942.000000
23  2023-01-24        C   92.0  Product2  342.0   West    342.000000
24  2023-01-25        A   24.0  Product2  458.0   East    458.000000
25  2023-01-26        C   95.0  Product1  584.0   West    584.000000
26  2023-01-27        C   71.0  Product2  619.0  North    619.000000
27  2023-01-28        C   56.0  Product2  224.0  North    224.000000
28  2023-01-29        B    NaN  Product3  617.0  North    617.000000
29  2023-01-30        C   51.0  Product2  737.0  South    737.000000
30  2023-01-31        B   50.0  Product3  735.0   West    735.000000
31  2023-02-01        A   17.0  Product2  189.0   West    189.000000
32  2023-02-02        B   63.0  Product3  338.0  South    338.000000
33  2023-02-03        C   27.0  Product3    NaN   East    557.130435
34  2023-02-04        C   70.0  Product3  669.0   West    669.000000
35  2023-02-05        B   60.0  Product2    NaN   West    557.130435
36  2023-02-06        C   36.0  Product3  177.0   East    177.000000
37  2023-02-07        C    2.0  Product1    NaN  North    557.130435
38  2023-02-08        C   94.0  Product1  408.0  South    408.000000
39  2023-02-09        A   62.0  Product1  155.0   West    155.000000
40  2023-02-10        B   15.0  Product1  578.0   East    578.000000
41  2023-02-11        C   97.0  Product1  256.0   East    256.000000
42  2023-02-12        A   93.0  Product3  164.0   West    164.000000
43  2023-02-13        A   43.0  Product3  949.0   East    949.000000
44  2023-02-14        A   96.0  Product3  830.0   East    830.000000
45  2023-02-15        B   99.0  Product2  599.0   West    599.000000
46  2023-02-16        B    6.0  Product1  938.0  South    938.000000
47  2023-02-17        B   69.0  Product3  143.0   West    143.000000
48  2023-02-18        C   65.0  Product3  182.0  North    182.000000
49  2023-02-19        C   11.0  Product3  708.0  North    708.000000

In [97]:
df['Sales_Int_Value'] = df['Sales'].fillna(df['Sales'].mean()).astype(int)
df

,Date,Category,Value,Product,Sales,Region,Sales_FillNa,Sales_Int_Value
0,2023-01-01,A,28.0,Product1,754.0,East,754.000000,754
1,2023-01-02,B,39.0,Product3,110.0,North,110.000000,110
2,2023-01-03,C,32.0,Product2,398.0,East,398.000000,398
3,2023-01-04,B,8.0,Product1,522.0,East,522.000000,522
4,2023-01-05,B,26.0,Product3,869.0,North,869.000000,869
5,2023-01-06,B,54.0,Product3,192.0,West,192.000000,192
6,2023-01-07,A,16.0,Product1,936.0,East,936.000000,936
7,2023-01-08,C,89.0,Product1,488.0,West,488.000000,488
8,2023-01-09,C,37.0,Product3,772.0,West,772.000000,772
9,2023-01-10,A,22.0,Product2,834.0,West,834.000000,834
10,2023-01-11,B,7.0,Product1,842.0,North,842.000000,842
11,2023-01-12,B,60.0,Product2,NaN,West,557.130435,557
12,2023-01-13,A,70.0,Product3,628.0,South,628.000000,628
13,2023-01-14,A,69.0,Product1,423.0,East,423.000000,423
14,2023-01-15,A,47.0,Product2,893.0,West,893.000000,893
15,2023-01-16,C,NaN,Product1,895.0,North,895.000000,895
16,2023-01-17,C,93.0,Product2,511.0,South,511.000000,511
17,2023-01-18,C,NaN,Product1,108.0,West,108.000000,108
18,2023-01-19,A,31.0,Product2,578.0,West,578.000000,578
19,2023-01-20,A,59.0,Product1,736.0,East,736.000000,736
20,2023-01-21,C,82.0,Product3,606.0,South,606.000000,606
21,2023-01-22,C,37.0,Product2,992.0,South,992.000000,992
22,2023-01-23,B,62.0,Product3,942.0,North,942.000000,942
23,2023-01-24,C,92.0,Product2,342.0,West,342.000000,342
24,2023-01-25,A,24.0,Product2,458.0,East,458.000000,458
25,2023-01-26,C,95.0,Product1,584.0,West,584.000000,584
26,2023-01-27,C,71.0,Product2,619.0,North,619.000000,619
27,2023-01-28,C,56.0,Product2,224.0,North,224.000000,224
28,2023-01-29,B,NaN,Product3,617.0,North,617.000000,617
29,2023-01-30,C,51.0,Product2,737.0,South,737.000000,737
30,2023-01-31,B,50.0,Product3,735.0,West,735.000000,735
31,2023-02-01,A,17.0,Product2,189.0,West,189.000000,189
32,2023-02-02,B,63.0,Product3,338.0,South,338.000000,338
33,2023-02-03,C,27.0,Product3,NaN,East,557.130435,557
34,2023-02-04,C,70.0,Product3,669.0,West,669.000000,669
35,2023-02-05,B,60.0,Product2,NaN,West,557.130435,557
36,2023-02-06,C,36.0,Product3,177.0,East,177.000000,177
37,2023-02-07,C,2.0,Product1,NaN,North,557.130435,557
38,2023-02-08,C,94.0,Product1,408.0,South,408.000000,408
39,2023-02-09,A,62.0,Product1,155.0,West,155.000000,155
40,2023-02-10,B,15.0,Product1,578.0,East,578.000000,578
41,2023-02-11,C,97.0,Product1,256.0,East,256.000000,256
42,2023-02-12,A,93.0,Product3,164.0,West,164.000000,164
43,2023-02-13,A,43.0,Product3,949.0,East,949.000000,949
44,2023-02-14,A,96.0,Product3,830.0,East,830.000000,830
45,2023-02-15,B,99.0,Product2,599.0,West,599.000000,599
46,2023-02-16,B,6.0,Product1,938.0,South,938.000000,938
47,2023-02-17,B,69.0,Product3,143.0,West,143.000000,143
48,2023-02-18,C,65.0,Product3,182.0,North,182.000000,182
49,2023-02-19,C,11.0,Product3,708.0,North,708.000000,708

In [98]:
df['New_Value'] = df['Value'].fillna(df['Value'].median()).astype(int).apply(lambda x : x*2)
df

,Date,Category,Value,Product,Sales,Region,Sales_FillNa,Sales_Int_Value,New_Value
0,2023-01-01,A,28.0,Product1,754.0,East,754.000000,754,56
1,2023-01-02,B,39.0,Product3,110.0,North,110.000000,110,78
2,2023-01-03,C,32.0,Product2,398.0,East,398.000000,398,64
3,2023-01-04,B,8.0,Product1,522.0,East,522.000000,522,16
4,2023-01-05,B,26.0,Product3,869.0,North,869.000000,869,52
5,2023-01-06,B,54.0,Product3,192.0,West,192.000000,192,108
6,2023-01-07,A,16.0,Product1,936.0,East,936.000000,936,32
7,2023-01-08,C,89.0,Product1,488.0,West,488.000000,488,178
8,2023-01-09,C,37.0,Product3,772.0,West,772.000000,772,74
9,2023-01-10,A,22.0,Product2,834.0,West,834.000000,834,44
10,2023-01-11,B,7.0,Product1,842.0,North,842.000000,842,14
11,2023-01-12,B,60.0,Product2,NaN,West,557.130435,557,120
12,2023-01-13,A,70.0,Product3,628.0,South,628.000000,628,140
13,2023-01-14,A,69.0,Product1,423.0,East,423.000000,423,138
14,2023-01-15,A,47.0,Product2,893.0,West,893.000000,893,94
15,2023-01-16,C,NaN,Product1,895.0,North,895.000000,895,108
16,2023-01-17,C,93.0,Product2,511.0,South,511.000000,511,186
17,2023-01-18,C,NaN,Product1,108.0,West,108.000000,108,108
18,2023-01-19,A,31.0,Product2,578.0,West,578.000000,578,62
19,2023-01-20,A,59.0,Product1,736.0,East,736.000000,736,118
20,2023-01-21,C,82.0,Product3,606.0,South,606.000000,606,164
21,2023-01-22,C,37.0,Product2,992.0,South,992.000000,992,74
22,2023-01-23,B,62.0,Product3,942.0,North,942.000000,942,124
23,2023-01-24,C,92.0,Product2,342.0,West,342.000000,342,184
24,2023-01-25,A,24.0,Product2,458.0,East,458.000000,458,48
25,2023-01-26,C,95.0,Product1,584.0,West,584.000000,584,190
26,2023-01-27,C,71.0,Product2,619.0,North,619.000000,619,142
27,2023-01-28,C,56.0,Product2,224.0,North,224.000000,224,112
28,2023-01-29,B,NaN,Product3,617.0,North,617.000000,617,108
29,2023-01-30,C,51.0,Product2,737.0,South,737.000000,737,102
30,2023-01-31,B,50.0,Product3,735.0,West,735.000000,735,100
31,2023-02-01,A,17.0,Product2,189.0,West,189.000000,189,34
32,2023-02-02,B,63.0,Product3,338.0,South,338.000000,338,126
33,2023-02-03,C,27.0,Product3,NaN,East,557.130435,557,54
34,2023-02-04,C,70.0,Product3,669.0,West,669.000000,669,140
35,2023-02-05,B,60.0,Product2,NaN,West,557.130435,557,120
36,2023-02-06,C,36.0,Product3,177.0,East,177.000000,177,72
37,2023-02-07,C,2.0,Product1,NaN,North,557.130435,557,4
38,2023-02-08,C,94.0,Product1,408.0,South,408.000000,408,188
39,2023-02-09,A,62.0,Product1,155.0,West,155.000000,155,124
40,2023-02-10,B,15.0,Product1,578.0,East,578.000000,578,30
41,2023-02-11,C,97.0,Product1,256.0,East,256.000000,256,194
42,2023-02-12,A,93.0,Product3,164.0,West,164.000000,164,186
43,2023-02-13,A,43.0,Product3,949.0,East,949.000000,949,86
44,2023-02-14,A,96.0,Product3,830.0,East,830.000000,830,192
45,2023-02-15,B,99.0,Product2,599.0,West,599.000000,599,198
46,2023-02-16,B,6.0,Product1,938.0,South,938.000000,938,12
47,2023-02-17,B,69.0,Product3,143.0,West,143.000000,143,138
48,2023-02-18,C,65.0,Product3,182.0,North,182.000000,182,130
49,2023-02-19,C,11.0,Product3,708.0,North,708.000000,708,22

In [99]:
df['Value'] = df['Value'].fillna(df['Value'].mean()).astype(int).apply(lambda x : x +10)
df

,Date,Category,Value,Product,Sales,Region,Sales_FillNa,Sales_Int_Value,New_Value
0,2023-01-01,A,38,Product1,754.0,East,754.000000,754,56
1,2023-01-02,B,49,Product3,110.0,North,110.000000,110,78
2,2023-01-03,C,42,Product2,398.0,East,398.000000,398,64
3,2023-01-04,B,18,Product1,522.0,East,522.000000,522,16
4,2023-01-05,B,36,Product3,869.0,North,869.000000,869,52
5,2023-01-06,B,64,Product3,192.0,West,192.000000,192,108
6,2023-01-07,A,26,Product1,936.0,East,936.000000,936,32
7,2023-01-08,C,99,Product1,488.0,West,488.000000,488,178
8,2023-01-09,C,47,Product3,772.0,West,772.000000,772,74
9,2023-01-10,A,32,Product2,834.0,West,834.000000,834,44
10,2023-01-11,B,17,Product1,842.0,North,842.000000,842,14
11,2023-01-12,B,70,Product2,NaN,West,557.130435,557,120
12,2023-01-13,A,80,Product3,628.0,South,628.000000,628,140
13,2023-01-14,A,79,Product1,423.0,East,423.000000,423,138
14,2023-01-15,A,57,Product2,893.0,West,893.000000,893,94
15,2023-01-16,C,61,Product1,895.0,North,895.000000,895,108
16,2023-01-17,C,103,Product2,511.0,South,511.000000,511,186
17,2023-01-18,C,61,Product1,108.0,West,108.000000,108,108
18,2023-01-19,A,41,Product2,578.0,West,578.000000,578,62
19,2023-01-20,A,69,Product1,736.0,East,736.000000,736,118
20,2023-01-21,C,92,Product3,606.0,South,606.000000,606,164
21,2023-01-22,C,47,Product2,992.0,South,992.000000,992,74
22,2023-01-23,B,72,Product3,942.0,North,942.000000,942,124
23,2023-01-24,C,102,Product2,342.0,West,342.000000,342,184
24,2023-01-25,A,34,Product2,458.0,East,458.000000,458,48
25,2023-01-26,C,105,Product1,584.0,West,584.000000,584,190
26,2023-01-27,C,81,Product2,619.0,North,619.000000,619,142
27,2023-01-28,C,66,Product2,224.0,North,224.000000,224,112
28,2023-01-29,B,61,Product3,617.0,North,617.000000,617,108
29,2023-01-30,C,61,Product2,737.0,South,737.000000,737,102
30,2023-01-31,B,60,Product3,735.0,West,735.000000,735,100
31,2023-02-01,A,27,Product2,189.0,West,189.000000,189,34
32,2023-02-02,B,73,Product3,338.0,South,338.000000,338,126
33,2023-02-03,C,37,Product3,NaN,East,557.130435,557,54
34,2023-02-04,C,80,Product3,669.0,West,669.000000,669,140
35,2023-02-05,B,70,Product2,NaN,West,557.130435,557,120
36,2023-02-06,C,46,Product3,177.0,East,177.000000,177,72
37,2023-02-07,C,12,Product1,NaN,North,557.130435,557,4
38,2023-02-08,C,104,Product1,408.0,South,408.000000,408,188
39,2023-02-09,A,72,Product1,155.0,West,155.000000,155,124
40,2023-02-10,B,25,Product1,578.0,East,578.000000,578,30
41,2023-02-11,C,107,Product1,256.0,East,256.000000,256,194
42,2023-02-12,A,103,Product3,164.0,West,164.000000,164,186
43,2023-02-13,A,53,Product3,949.0,East,949.000000,949,86
44,2023-02-14,A,106,Product3,830.0,East,830.000000,830,192
45,2023-02-15,B,109,Product2,599.0,West,599.000000,599,198
46,2023-02-16,B,16,Product1,938.0,South,938.000000,938,12
47,2023-02-17,B,79,Product3,143.0,West,143.000000,143,138
48,2023-02-18,C,75,Product3,182.0,North,182.000000,182,130
49,2023-02-19,C,21,Product3,708.0,North,708.000000,708,22

##### Aggregation And Grouping Functions

In [100]:
grouped_mean = df.groupby('Region')['Sales'].mean()
grouped_mean

Region
East     584.7500
North    600.8000
South    644.7500
West     465.3125
Name: Sales, dtype: float64

In [ ]:
grouped_filter = df.groupby(['Region','Sales']).filter(lambda x: x['Sales'].mean() > 400)
grouped_filter

Date               32
Category           32
Value              32
Product            32
Sales              32
Region             32
Sales_FillNa       32
Sales_Int_Value    32
New_Value          32
dtype: int64

In [106]:
grouped_sum = df.groupby(['Region', 'Category'])['Value'].sum()
grouped_sum

Region  Category
East    A           405
        B            43
        C           232
North   B           235
        C           316
South   A            80
        B            89
        C           407
West    A           332
        B           452
        C           494
Name: Value, dtype: int64

In [108]:
##aggregate functions
grouped_agg = df.groupby('Region').agg({'Value': 'sum', 'Sales': 'mean'})
grouped_agg

        Value     Sales
Region
East      680  584.7500
North     551  600.8000
South     576  644.7500
West     1278  465.3125

In [110]:
# select multiple columns with a list (not a tuple)
grouped_agg_new = df.groupby(['Region', 'Category'])[['Value', 'Sales']].agg(['sum', 'mean', 'count'])
grouped_agg_new

                Value                    Sales
                  sum       mean count     sum        mean count
Region Category
East   A          405  57.857143     7  5086.0  726.571429     7
       B           43  21.500000     2  1100.0  550.000000     2
       C          232  58.000000     4   831.0  277.000000     3
North  B          235  47.000000     5  3380.0  676.000000     5
       C          316  52.666667     6  2628.0  525.600000     5
South  A           80  80.000000     1   628.0  628.000000     1
       B           89  44.500000     2  1276.0  638.000000     2
       C          407  81.400000     5  3254.0  650.800000     5
West   A          332  55.333333     6  2813.0  468.833333     6
       B          452  75.333333     6  1669.0  417.250000     4
       C          494  82.333333     6  2963.0  493.833333     6

In [111]:
## Merging data frames
data1 = pd.DataFrame({
    'Key': ['A', 'B', 'C', 'D'],
    'Value1': [10, 20, 30, 40]})

data2 = pd.DataFrame({
    'Key': ['B', 'C', 'D', 'E'],
    'Value2': [50, 60, 70, 80]})

In [112]:
data1

  Key  Value1
0   A      10
1   B      20
2   C      30
3   D      40

In [113]:
data2

  Key  Value2
0   B      50
1   C      60
2   D      70
3   E      80

In [120]:
merged_data = pd.merge(data1, data2, on='Key') # default how is inner
merged_data

  Key  Value1  Value2
0   B      20      50
1   C      30      60
2   D      40      70

In [ ]:
#merge on key columns
merged_data = pd.merge(data1, data2, on='Key', how='outer') 
merged_data

  Key  Value1  Value2
0   A    10.0     NaN
1   B    20.0    50.0
2   C    30.0    60.0
3   D    40.0    70.0
4   E     NaN    80.0

In [36]:
df_dropna = df.dropna(axis=1, how='all', inplace=False)
df_dropna

          Date Category  Value   Product  Sales Region
0   2023-01-01        A   28.0  Product1  754.0   East
1   2023-01-02        B   39.0  Product3  110.0  North
2   2023-01-03        C   32.0  Product2  398.0   East
3   2023-01-04        B    8.0  Product1  522.0   East
4   2023-01-05        B   26.0  Product3  869.0  North
5   2023-01-06        B   54.0  Product3  192.0   West
6   2023-01-07        A   16.0  Product1  936.0   East
7   2023-01-08        C   89.0  Product1  488.0   West
8   2023-01-09        C   37.0  Product3  772.0   West
9   2023-01-10        A   22.0  Product2  834.0   West
10  2023-01-11        B    7.0  Product1  842.0  North
12  2023-01-13        A   70.0  Product3  628.0  South
13  2023-01-14        A   69.0  Product1  423.0   East
14  2023-01-15        A   47.0  Product2  893.0   West
16  2023-01-17        C   93.0  Product2  511.0  South
18  2023-01-19        A   31.0  Product2  578.0   West
19  2023-01-20        A   59.0  Product1  736.0   East
20  2023-01-21        C   82.0  Product3  606.0  South
21  2023-01-22        C   37.0  Product2  992.0  South
22  2023-01-23        B   62.0  Product3  942.0  North
23  2023-01-24        C   92.0  Product2  342.0   West
24  2023-01-25        A   24.0  Product2  458.0   East
25  2023-01-26        C   95.0  Product1  584.0   West
26  2023-01-27        C   71.0  Product2  619.0  North
27  2023-01-28        C   56.0  Product2  224.0  North
29  2023-01-30        C   51.0  Product2  737.0  South
30  2023-01-31        B   50.0  Product3  735.0   West
31  2023-02-01        A   17.0  Product2  189.0   West
32  2023-02-02        B   63.0  Product3  338.0  South
34  2023-02-04        C   70.0  Product3  669.0   West
36  2023-02-06        C   36.0  Product3  177.0   East
38  2023-02-08        C   94.0  Product1  408.0  South
39  2023-02-09        A   62.0  Product1  155.0   West
40  2023-02-10        B   15.0  Product1  578.0   East
41  2023-02-11        C   97.0  Product1  256.0   East
42  2023-02-12        A   93.0  Product3  164.0   West
43  2023-02-13        A   43.0  Product3  949.0   East
44  2023-02-14        A   96.0  Product3  830.0   East
45  2023-02-15        B   99.0  Product2  599.0   West
46  2023-02-16        B    6.0  Product1  938.0  South
47  2023-02-17        B   69.0  Product3  143.0   West
48  2023-02-18        C   65.0  Product3  182.0  North
49  2023-02-19        C   11.0  Product3  708.0  North

In [17]:
new_df =df.isnull().dropna(axis=1, inplace=False)
new_df

     Date  Category  Value  Product  Sales  Region
0   False     False  False    False  False   False
1   False     False  False    False  False   False
2   False     False  False    False  False   False
3   False     False  False    False  False   False
4   False     False  False    False  False   False
5   False     False  False    False  False   False
6   False     False  False    False  False   False
7   False     False  False    False  False   False
8   False     False  False    False  False   False
9   False     False  False    False  False   False
10  False     False  False    False  False   False
11  False     False  False    False   True   False
12  False     False  False    False  False   False
13  False     False  False    False  False   False
14  False     False  False    False  False   False
15  False     False   True    False  False   False
16  False     False  False    False  False   False
17  False     False   True    False  False   False
18  False     False  False    False  False   False
19  False     False  False    False  False   False
20  False     False  False    False  False   False
21  False     False  False    False  False   False
22  False     False  False    False  False   False
23  False     False  False    False  False   False
24  False     False  False    False  False   False
25  False     False  False    False  False   False
26  False     False  False    False  False   False
27  False     False  False    False  False   False
28  False     False   True    False  False   False
29  False     False  False    False  False   False
30  False     False  False    False  False   False
31  False     False  False    False  False   False
32  False     False  False    False  False   False
33  False     False  False    False   True   False
34  False     False  False    False  False   False
35  False     False  False    False   True   False
36  False     False  False    False  False   False
37  False     False  False    False   True   False
38  False     False  False    False  False   False
39  False     False  False    False  False   False
40  False     False  False    False  False   False
41  False     False  False    False  False   False
42  False     False  False    False  False   False
43  False     False  False    False  False   False
44  False     False  False    False  False   False
45  False     False  False    False  False   False
46  False     False  False    False  False   False
47  False     False  False    False  False   False
48  False     False  False    False  False   False
49  False     False  False    False  False   False

##### dropna in detail

In [41]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [np.nan, 2, 3, 4],
    'C': ['x', None, 'z', 'w']
})
df

     A    B     C
0  1.0  NaN     x
1  2.0  2.0  None
2  NaN  3.0     z
3  4.0  4.0     w

In [40]:
# Drop rows containing any NA

df_clean = df.dropna()
df_clean

     A    B  C
3  4.0  4.0  w

In [42]:
# Drop rows only when every column is NA
df.dropna(how='all')

     A    B     C
0  1.0  NaN     x
1  2.0  2.0  None
2  NaN  3.0     z
3  4.0  4.0     w

In [43]:
# Drop columns that contain any NA
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [44]:
# Only look at columns A and B when deciding to drop rows
df.dropna(subset=['A', 'B'])
# Rows with NA in C remain if A and B are OK

     A    B     C
1  2.0  2.0  None
3  4.0  4.0     w

In [49]:
# Keep rows that have at least 2 non-null values
df.dropna(thresh=2)

     A    B     C
0  1.0  NaN     x
1  2.0  2.0  None
2  NaN  3.0     z
3  4.0  4.0     w

In [51]:
# Modify df directly
df.dropna(inplace=True)
# Now df is changed. Do NOT write df = df.dropna() if you used inplace=True
df

     A    B  C
3  4.0  4.0  w

In [53]:
s = pd.Series([1, None, 2, np.nan, 3])
s_clean = s.dropna()  # drops None and np.nan, returns Series [1,2,3]
s_clean

0    1.0
2    2.0
4    3.0
dtype: float64

In [57]:
# When using boolean mask keep alignment semantics in mind:
mask = df['A'] > 1
df.loc[mask]            # selects rows by label using mask
print(mask)
# df.iloc[mask] would raise or behave incorrectly  convert to values if using iloc
df.iloc[mask.values]   # positional selection using boolean array

3    True
Name: A, dtype: bool

     A    B  C
3  4.0  4.0  w

In [59]:
df.dropna(axis=1, thresh=3)
df

     A    B  C
3  4.0  4.0  w

In [60]:
# Prefer assignment rather than chained indexing or inplace on views
df = df.dropna(subset=['A','B'])  # reassign result to df (clear and explicit)
df

     A    B  C
3  4.0  4.0  w

##### fillna in detail

This section shows common and advanced `fillna()` patterns: scalar fills, column-wise fills (using a dict), forward/backward fills (`ffill`/`bfill`), using `thresh`-style logic with `fillna` + aggregation (mean/median), `inplace` vs assignment, and `combine_first` for filling from another DataFrame.

In [61]:
import pandas as pd
import numpy as np

df_fill = pd.DataFrame({
    'A': [1, np.nan, 3, np.nan],
    'B': [np.nan, 'b', None, 'd'],
    'C': [10, 20, np.nan, 40]
})

# show original
print('Original:')
print(df_fill)

Original:
     A     B     C
0  1.0   NaN  10.0
1  NaN     b  20.0
2  3.0  None   NaN
3  NaN     d  40.0

In [63]:
# 1) Scalar fill: fill all NaNs with a single value
df_scalar = df_fill.fillna(0)
print('Scalar fill (0):')
print(df_scalar)

Scalar fill (0):
     A  B     C
0  1.0  0  10.0
1  0.0  b  20.0
2  3.0  0   0.0
3  0.0  d  40.0

In [64]:
# 2) Column-wise fill using a dict (different fill for each column)
df_dict = df_fill.fillna({'A': 99, 'B': 'missing', 'C': df_fill['C'].mean()})
print('Column-wise fill (dict):')
print(df_dict)

Column-wise fill (dict):
      A        B          C
0   1.0  missing  10.000000
1  99.0        b  20.000000
2   3.0  missing  23.333333
3  99.0        d  40.000000

In [66]:
# 3) Forward-fill and backward-fill (propagate non-NA values)

df_fill = pd.DataFrame({
    'A': [1, np.nan, 3, np.nan],
    'B': [np.nan, 'b', None, 'd'],
    'C': [10, 20, np.nan, 40]
})

# show original
print('Original:')
print(df_fill)

df_ffill = df_fill.fillna(method='ffill')  # forward fill
df_bfill = df_fill.fillna(method='bfill')  # backward fill
print('Forward fill:')
print(df_ffill)
print('Backward fill:')
print(df_bfill)

# limit parameter: only propagate up to `limit` consecutive NaNs
df_ffill_limit = df_fill.fillna(method='ffill', limit=1)
print('Forward fill with limit=1:')
print(df_ffill_limit)

Original:
     A     B     C
0  1.0   NaN  10.0
1  NaN     b  20.0
2  3.0  None   NaN
3  NaN     d  40.0
Forward fill:
     A    B     C
0  1.0  NaN  10.0
1  1.0    b  20.0
2  3.0    b  20.0
3  3.0    d  40.0
Backward fill:
     A  B     C
0  1.0  b  10.0
1  3.0  b  20.0
2  3.0  d  40.0
3  NaN  d  40.0
Forward fill with limit=1:
     A    B     C
0  1.0  NaN  10.0
1  1.0    b  20.0
2  3.0    b  20.0
3  3.0    d  40.0

/tmp/ipykernel_125864/2431124501.py:13: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill = df_fill.fillna(method='ffill')  # forward fill
/tmp/ipykernel_125864/2431124501.py:14: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfill = df_fill.fillna(method='bfill')  # backward fill
/tmp/ipykernel_125864/2431124501.py:21: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill_limit = df_fill.fillna(method='ffill', limit=1)

In [67]:
# 4) Fill using aggregation (mean/median) per-column
# Use assignment to keep results; df_fill.fillna(df_fill.mean()) fills numeric columns with column means
df_mean = df_fill.fillna(df_fill.mean(numeric_only=True))
print('Fill numeric columns with column mean:')
print(df_mean)

# For a single column:
df_single = df_fill.copy()
df_single['A'] = df_single['A'].fillna(df_single['A'].mean())
print('Fill column A with its mean:')
print(df_single)

Fill numeric columns with column mean:
     A     B          C
0  1.0   NaN  10.000000
1  2.0     b  20.000000
2  3.0  None  23.333333
3  2.0     d  40.000000
Fill column A with its mean:
     A     B     C
0  1.0   NaN  10.0
1  2.0     b  20.0
2  3.0  None   NaN
3  2.0     d  40.0

In [68]:
# 5) Inplace vs assignment
df_inplace = df_fill.copy()
df_inplace.fillna({'A':0, 'B':'x', 'C':0}, inplace=True)
print('After inplace fill:')
print(df_inplace)

# Assignment style (preferred for clarity):
df_assigned = df_fill.fillna({'A':0, 'B':'x', 'C':0})
print('After assignment fill:')
print(df_assigned)

After inplace fill:
     A  B     C
0  1.0  x  10.0
1  0.0  b  20.0
2  3.0  x   0.0
3  0.0  d  40.0
After assignment fill:
     A  B     C
0  1.0  x  10.0
1  0.0  b  20.0
2  3.0  x   0.0
3  0.0  d  40.0

In [71]:
# 6) Fill categorical using mode (most frequent value)
df_mode = df_fill.copy()
mode_b = df_mode['B'].mode()
mode_val = mode_b.iloc[0] if not mode_b.empty else 'missing'
df_mode['B'] = df_mode['B'].fillna(mode_val)
print('Fill B with mode:')
print(df_mode)

# 7) Use combine_first to fill from another DataFrame (useful when you have a secondary source)
df_primary = pd.DataFrame({'A': [np.nan, 2, np.nan, 4], 'B': [None, 'b', None, None]})
df_secondary = pd.DataFrame({'A': [1, 99, 3, 99], 'B': ['x','y','z','w']})
filled = df_primary.combine_first(df_secondary)
print('combine_first result (primary filled from secondary):')
print(filled)

# 8) Common pattern: fill numeric columns with mean and categorical with mode in one pipeline
df_pipeline = df_fill.copy()
numeric_cols = df_pipeline.select_dtypes(include=[np.number]).columns.tolist()
categorical_cols = df_pipeline.select_dtypes(exclude=[np.number]).columns.tolist()
df_pipeline[numeric_cols] = df_pipeline[numeric_cols].fillna(df_pipeline[numeric_cols].mean())
for c in categorical_cols:
    m = df_pipeline[c].mode()
    if not m.empty:
        df_pipeline[c] = df_pipeline[c].fillna(m.iloc[0])
print('Pipeline: numeric->mean, categorical->mode')
print(df_pipeline)

Fill B with mode:
     A  B     C
0  1.0  b  10.0
1  NaN  b  20.0
2  3.0  b   NaN
3  NaN  d  40.0
combine_first result (primary filled from secondary):
     A  B
0  1.0  x
1  2.0  b
2  3.0  z
3  4.0  w
Pipeline: numeric->mean, categorical->mode
     A  B          C
0  1.0  b  10.000000
1  2.0  b  20.000000
2  3.0  b  23.333333
3  2.0  d  40.000000